# Environnement virtuel
venv/
.env
.env*/

# Caches Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE / éditeurs
.vscode/
.idea/
*.code-workspace

# Fichiers temporaires
*.log
*.tmp
*.bak
*.csv
*.txt
cobol_work/

# Autres caches
.cache/

# Exceptions – CSV de configuration versionnés
!config/**/*.csv
